<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/details.css">
    <title>Details</title>
</head>
<body>
    <div class="grid-container">
        <div>
            <%- include('partials/header.ejs') %>
        </div>
        <div class="about">
            <% if(locals.about){%>
                <div>
                    <h3><%= about.title %></h3>
                </div>
                <div>
                    <% const backgroundColor ="background-color: "+about.color%>
                    <p>User <%= about.name %> asks in <span class="topic btn space"style="<%=backgroundColor %>"><%= about.topic %></span></p>
                    <br>
                    <p><%= about.text %></p>
                </div>
                <div class="wrap">
                    <a class="green btn" href="/edit/<%=about.id%>">Edit Post</a> 
                    <a class="red btn" href="/delete/<%=about.id%>">Delete Post</a>
                </div>
                      
            <%}else{%>
                <p class="empty">This post doesn't exist</p>
            <%}%>
        </div>
        <div>
            <%- include('partials/footer.ejs') %>
        </div>
    </div>
</body>
</html>